@import  url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */


.logo{
    width:50px;
}

header{
    background-color:black ;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header h2{
    color:white;
    font-family:"Montserrat", sans-serif;
    margin-left:10px;
    margin-right: 900px;
    margin-top:10px;
    display:inline-block;
}

header button{
    background: #1abc9c;
    background-image: -webkit-linear-gradient(top, #1abc9c, #1abc9c);
    background-image: -moz-linear-gradient(top, #1abc9c, #1abc9c);
    background-image: -ms-linear-gradient(top, #1abc9c, #1abc9c);
    background-image: -o-linear-gradient(top, #1abc9c, #1abc9c);
    background-image: linear-gradient(to bottom, #1abc9c, #1abc9c);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

nav{
	position: relative;
	top: 0;
    left:40%;
    margin-top:-95px;
	width: 590px;
	height: 50px;
	/* background: #34495e; */
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    
}
nav a{
    font-family:"Montserrat", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}

.parallax{
    margin-top:40px;
    background-image: url(images/yuji.jpg);
    min-height:300px;
    height:300px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    object-fit: cover;
    object-position: center center;
}

.parallax h2{
    position:absolute;
    top:30%;
    left:10%;
    font-family:"Montserrat", sans-serif;
    font-weight:bolder;
    color:#D61C4E;
    font-size:100px;
    text-shadow: 4px 4px white;
}

/* Slideshow */
.slider{
    position:relative;
    margin-top:50px;
    top: 100%;
    left:20%;
    width:800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    position:relative;
    width: 500%;
    height: 500px;
    display: flex;
    border:solid black 1px;
}

.slides input{
    display:none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/* css for manual slider starts */

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border:2px solid cyan;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: cyan;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}


/* Subtitle */
.subtitle h2{
    color:#D61C4E;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    font-size: 150px;
    text-align: center;
}

.subtitle{
    position:relative;
    top:80px;
    right:40px;
}

/* Pictures */

.brbad{
    position:relative;
    margin-top:100px;
    border-top:solid black 10px;
    border-bottom:solid black 200px;
}

.brbad img{
    width:100%;
}

.brbad h2{
    position:absolute;
    top:50%;
    left:15%;
    font-family:"Montserrat", sans-serif;
    font-weight:bolder;
    color:white;
    font-size:100px;
    text-shadow: 4px 4px black;
}

.brbad h5{
    position:absolute;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size: 50px;
    bottom:-100px;
    left:10%;
}

.brbad p{
    position:absolute;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size:40px;
    bottom:-170px;
    right:10%;
}

.bebop{
    position:relative;
    border-bottom:solid black 200px;
}

.bebop img{
    width:100%;
   
}

.bebop h2{
    position:absolute;
    top:50%;
    left:15%;
    font-family:"Montserrat", sans-serif;
    font-weight:bolder;
    color:white;
    font-size:100px;
    text-shadow: 4px 4px black;
}

.bebop h5{
    position:absolute;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size: 50px;
    bottom:-100px;
    left:30%;
}

.bebop p{
    position:absolute;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size:40px;
    bottom:-170px;
    right:10%;
}

.robot{
    position:relative;
    border-bottom:solid black 200px;
}

.robot img{
    width:100%;
}

.robot h2{
    position:absolute;
    top:50%;
    left:30%;
    font-family:"Montserrat", sans-serif;
    font-weight:bolder;
    color:white;
    font-size:100px;
    text-shadow: 4px 4px black;
}

.robot h5{
    position:absolute;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size: 50px;
    bottom:-100px;
    left:15%;
}

.robot p{
    position:absolute;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size:40px;
    bottom:-170px;
    right:10%;
}

/* THUMBNAIL */

.sub h3{
    color:#D61C4E;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

.sub{
    margin-top:30px;
    position:relative;
    bottom:5px;
    right:1%;
}

.image{
    margin-top:30px;
    margin-left:30px;
    position: relative;
    width: 400px;
    display:inline-block;
}

.image2{
    margin-top:30px;
    margin-left:30px;
    position: relative;
    width: 400px;
    left:80px;
    bottom:0px;
    border-top:solid #1b1b27 20px;
    border-bottom:solid #1b1b27 20px;
    border-left:solid #1b1b27 14px;
    border-right:solid #1b1b27 12px;
    display:inline-block;
}

.image3{
    margin-top:30px;
    margin-left:30px;
    position: relative;
    width: 400px;
    bottom:0px;
    left:130px;
    border-top:solid #1b1b27 20px;
    border-bottom:solid #1b1b27 30px;
    border-left:solid #1b1b27 14px;
    border-right:solid #1b1b27 12px;
    display:inline-block;
}

.image__img{
    display:block;
    width:100%;
}

.image__overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family:"Montserrat", sans-serif;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay:hover{
    opacity:1;
}

.image__title{
    font-size: 2em;
    font-weight: bold;
}

/* FOOTER */

footer{
    margin-top: 30px;
    background:black;
    height: auto;
    width: 100vw;
    font-family:"Montserrat", sans-serif;
    padding-top: 40px;
    color:#fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
     font-size: 1.8rem;
     font-weight: 400;
     font-weight:bold;
     text-transform: capitalize;
     line-height: 3rem;
}

.footer-content p{
    max-width:500px;
    margin: 10px auto;
    line-height:28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin:0 10px;
}

.socials a{
    text-decoration: none;
    color:#fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
    color:aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding:20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing:2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:#1abc9c;
}